<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<h1>An error occurred</h1>
<p>{{ message }}</p>
<p>Status Code: {{ status_code }}</p>
<a href="{{ path('post_index') }}">Return to Home</a>
</body>
</html>
