{% extends 'base.html.twig' %}

{% block title %}Formation {% endblock %}

{% block body %}

    <div class="container mt-5">
        <h2 class="text-center mb-4">Formations à venir</h2>

        <turbo-frame id="formation-details">

        </turbo-frame>

        <turbo-frame id="formations" src="{{ path('formation_list_frame') }}">
            <button class="btn btn-primary" type="button" disabled >
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Loading...</span>
            </button>
        </turbo-frame>
    </div>

{% endblock %}
