<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige si le fichier ou le dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige toutes les requêtes vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>